<p>Hi <%= @user.name %>,</p>
<p>You asked for a new password, we generated a brand new one for you. Here's your new password: <b><%= @password %></b></p>
<p>We also recommend to change the password after the first sign in.</p>
<p>Regards,</p>
<p>Transform</p>